body {
    margin: 0;
    padding: 0;
    /*height: 100vh;*/
    font-size: 16px;
    min-width: 320px;
    position: relative;
    font-family: sans-serif;
    overflow-x: hidden;
}
.topBar, .shopBar {
    width: 100vw;
    padding: 1em;
}
.topBar {
    background-color: #af945d;
    color: white;

    display: flex;
    text-align: center;
}
.city {
    border-bottom: 1px dotted white;
}
.street {
    border-bottom: 1px solid white;
}
nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav > ul > li {
    display: inline;
    margin-right: 1em;
    border-bottom: 1px solid white;
}
nav > ul > li:nth-last-child(1) {
    margin-right: 0em;
}
.account {
    border-bottom: 1px dotted white;
}
.logo-container > img {
    object-fit: contain
}
.logo-container > span {
    text-align: center;
    color: #9b9b9b;
    font-size: 0.85em;
}
.shopBar {
    border-bottom: 1px solid #e7e7e7;
}
.search {
    display: flex;
    flex-direction: row;

    border: 1px solid #919191;
}
.search > input {
    margin-bottom: 0;
    border: none;
    box-shadow: none;
}
.search > input:focus {
    border: none;
    box-shadow: none;
}
.search > div {
    padding: 0.5em;
}
.cart {
    display: flex;
    justify-content: space-evenly;

    padding: 0.5em;
    background-color: #f0f0f0;
    border: 1px solid #929292;
}
.itemsCount {
    background-color: #c19c4f;
    border-radius: 50%;
    width: 2em;
    color: white;
    text-align: center;
}
.mainMenu {
    display: flex;
    justify-content: space-evenly;
    color: #5f4849;
    padding: 1em;
    border-bottom: 2px solid #ed3642;
}
.mainMenu > span:hover {
    color: #c2a263;
    cursor: pointer;
}

/*BRANDS SECTION*/
#brands{
    /*height: 130px;*/
    display: flex;
    flex-direction: column;
}
#brands .slider-container{
    max-width: 1170px;
    padding: 0;
    margin: 30px auto 0 auto;
    display: flex;
    align-items: center;

}
.slider-container .grid-x{
    margin: 0 auto;
}
#brands .cell img{
    height: 100%;
}
/*#brands .sm-slider{*/
/*    height: 300px;*/
/*}*/
#brands .sm-slider .docs-example-orbit-slide{
    display: flex;
}
#brands .sm-slider img{
    margin: 0 auto;
    padding-top: 30px;
}
#brands .md-slider img{
    padding-right: 20px;
}
#brands .md-slider .docs-example-orbit-slide{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 30px;
}
#brands .sm-slider .orbit-slide{
    padding-bottom: 20px;
}
#brands .orbit-previous{
    left: 110px;
    top: 70px;
}
#brands .orbit-next{
   right: 110px;
    top: 70px;
}
#brands .arrow {
    position: relative;
    border: solid #808080;
    border-width: 0 3px 3px 0;
    height: 20px;
    min-width: 20px;
    display: inline-block;
    padding: 3px;
}

#brands .arrow.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    float: right;
}

#brands .arrow.right:hover {
    border-color: #484848;
}

#brands .arrow.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#brands .arrow.left:hover {
    border-color: white;
}
#brands .lines{
    /*border-top: 1px solid #ccc;*/
    text-align: center;
    max-width: 1320px;
    margin: 0 auto;
}
#brands .lines a{
    font-size: 12px;
    color: black;
    text-transform:uppercase;
    text-decoration: underline;
    display: inline-block;
    margin: 0;
    padding: 0 15px 5px 15px;
    transform: translateY(-50%);
    background: #fff;
    /*padding: 0 .5em;*/
}
#brands .line-item{
    height: 1px;
    background-color: #E6E6E6;
    width: 76.0em;
    margin: 30px auto 0 auto;
    background-image: linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
    background-image: -o-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
    background-image: -moz-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
    background-image: -webkit-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
    background-image: -ms-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, white), color-stop(0.5, gray), color-stop(0.98, white) );
}
@media (min-width:1287px){
    .sm-slider{
        display: none;
    }
    .md-slider{
        display: none;
    }
}
@media (max-width: 1287px) and (min-width:780px){
    .lg-slider{
        display: none;
    }
    .md-slider{
        display: block;
    }
    .sm-slider{
        display: none;
    }
    #brands .line-item{
        width: 56.0em;
    }
}
@media (max-width: 800px){
    .lg-slider{
        display: none;
    }
    .md-slider{
        display: none;
    }
    .sm-slider{
        display: block;
    }
    #brands .line-item{
        width: 36.0em;
    }
}
