.reservation-container
    padding: 1em
    height: 100%
    color: white

    display: flex
    flex-direction: column
    justify-content: space-around

    &__item
        background-color: black
        border: none
        border-bottom: 1px solid orangered
        color: white
        padding: 1em
        &:focus, &:hover
            outline: none
    &__header
        text-align: center
        margin: 0
    &__button
        background-color: orangered
        text-align: center



