include ../components/header/header
include ../components/footer/footer

doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Hakarocu

body
    +header

    block content

    +footer