// npm run build $$ npm run start
@import "mixins"
@import "variables"

@import "header"
@import "brands"
@import "sellout"
@import "services"
@import "stock"
@import "news_items"
@import "articles"
@import "footer"


.arrow
  position: relative
  border: solid #808080
  border-width: 0 3px 3px 0
  height: 20px
  min-width: 20px
  display: inline-block
  padding: 3px

  &.right
    @include arrow-transform(-45deg)

  &.left
    @include arrow-transform(135deg)
