@import "mixins"

.brands
  .slider-block
    width: 1200px
    height: 115px
    margin: 0 auto
  .flex-container
    font-family: 'Noto Serif JP', sans-serif
    display: flex
    flex-direction: row
    justify-content: space-around
    flex-wrap: wrap
    min-height: 400px
  .flex-container__item
    display: flex
    flex-direction: row
    flex-wrap: wrap
    margin-top: 25px
#viewport
  position: relative
  overflow: hidden
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -o-user-select: none
  user-select: none
.slider__wrapper
  position: relative
  width: calc(100% * 3)
  top: 0
  left: 0
  margin: 0
  padding: 0
  -webkit-transition: 1s
  -o-transition: 1s
  transition: 1s
  -webkit-transition-timing-function: ease-in-out
  -o-transition-timing-function: ease-in-out
  transition-timing-function: ease-in-out
  li
    width: calc(100%/3)
    list-style: none
    float: left
.slider__wrapper ul, .slider__wrapper li
  margin: 0
  padding: 0
.slider__control_left, .slider__control_right
  position: absolute
  border-width: 0 3px 3px 0
  display: inline-block
  width: 10px
  top: 60px
  border: solid #808080
  border-width: 0 3px 3px 0
  height: 20px
  min-width: 20px
  padding: 3px
.slider__control_left:hover, .slider__control_right:hover
  cursor: pointer
.slider__control_left
  @include arwTransform(135deg)
  left: 20px
.slider__control_right
  @include arwTransform(-45deg)
  right: 20px

.brands
  .lines
    text-align: center
    max-width: 1320px
    margin: 0 auto

    a
      font-size: 12px
      color: black
      text-transform: uppercase
      text-decoration: underline
      display: inline-block
      margin: 0
      padding: 0 15px 5px 15px
      transform: translateY(-50%)
      background: #fff

  .lines__item
    height: 1px
    background-color: $arrow-color
    width: 76.0em
    margin: 30px auto 0 auto
    background-image: linear-gradient(left , white 2%, $arrow-color 50%, white 98%)
    background-image: -o-linear-gradient(left , white 2%, $arrow-color 50%, white 98%)
    background-image: -moz-linear-gradient(left , white 2%, $arrow-color 50%, white 98%)
    background-image: -webkit-linear-gradient(left , white 2%, $arrow-color 50%, white 98%)
    background-image: -ms-linear-gradient(left , white 2%, $arrow-color 50%, white 98%)
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, white), color-stop(0.5, gray), color-stop(0.98, white) )



@media (min-width: 1287px)
  .sm-slider
    display: none

  .md-slider
    display: none

@media (max-width: 1287px) and (min-width: 780px)
  .lg-slider
    display: none

  .md-slider
    display: block

  .sm-slider
    display: none


@media (max-width: 800px)
  .lg-slider
    display: none

  .md-slider
    display: none

  .sm-slider
    display: block

  .orbit-previous
    left: 5030px

  .orbit-next
    right: 30px

@media (max-width: 550px)
  .orbit-previous
    left: 0!important

  .orbit-next
    right: 0!important

  #sellout
    .btn
      font-size: 12px
      padding: 5px 10px

  #news_items
    .btn
      font-size: 12px
      padding: 5px 10px

  #sellout
    .links
      a
        font-size: 10px!important

  #news_items
    .links
      a
        font-size: 10px!important

  #stock
    a
      font-size: 10px!important



@media (max-width: 800px)
  .brands
    .lines__item
      width: 36.0em


@media (max-width: 550px)
  .brands
    .lines__item
      width: 22.0em
      //width: 22.0em



