@import "variables"
@import "mixins"

//header
.header
//<editor-fold desc="upper-navigation">
.upper-navigation
    display: flex
    flex-direction: column
    +tablet-portrait
        flex-direction: row
        text-align: center
        padding: 1em
    justify-content: space-between
    align-items: center
    background-color: $base-color-dark-orange
    &__item
        padding: 0.5em 0
        align-items: center
    &__link
        color: white
        &:hover, &:visited
            color: white
    &__city
        border-bottom: 1px dotted white
    &__street
        border-bottom: 1px solid white
    &__account
        border-bottom: 1px dotted white
    &__social-image
        object-fit: contain
.header-navigation
    background-color: $base-color-dark-orange !important
    list-style-type: none
    margin: 0
    padding: 0
    &__item
        display: inline
        margin-right: 1em
        border-bottom: 1px solid white
    &__link
        margin-right: 0em
        color: white
        &:hover
            color: white
//</editor-fold>
//<editor-fold desc="shop-bar">
.shop-bar
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid $base-color-light-grey
    +tablet-portrait
        flex-direction: row
        text-align: center
        padding: 1em
    &__item
        &:first-child
            padding-top: 1em
        display: flex
        margin-bottom: 1em
        @media (min-width: $tablet-portrait)
            padding: 0 1em
            margin-bottom: 0em
    &__item--growed
        flex-grow: 1
.logo
    display: flex
    flex-direction: column
    align-items: center
    padding: 0 1em
    color: $base-color-text-grey
    text-align: center
    &:hover
        color: darken($base-color-text-grey, 10%)
.search
    display: flex
    width: 100%
    border: 1px solid #919191
    &__image
        object-fit: contain
        padding-right: 1em
    &__input
        margin-bottom: 0
        border: none
        box-shadow: none
        &:focus
            border: none
            box-shadow: none
.cart
    justify-content: space-evenly
    width: 12em

    padding: 0.5em
    background-color: #f0f0f0
    border: 1px solid #929292
    &__items-count
        background-color: #c19c4f
        border-radius: 50%
        width: 2em
        color: white
        text-align: center
//</editor-fold>
.header-menu
    border-bottom: 2px solid #ed3642
    ul
        justify-content: space-between
        li
            a
                color: #5f4849
    .dropdown.menu
        li.is-dropdown-submenu-parent
            a::after
                display: none
        > li.is-active
            > a
                color: white
                background-color: red
                border-radius: 3em
    .menu.lvl1
        background-color: rgba(0,0,0,0.8)
        border: none
        margin-top: 1.1em
        li
            a
                color: white
        .is-active
            a
                background-color: rgb(175, 149, 89)
        .menu.lvl2
            background-color: rgb(175, 149, 89)
            border: none
            li
                a
                    color: rgb(235, 228, 213)
                    &:hover
                        color: white
            .menu.lvl3
                @extend .menu, .lvl2
                > div
                    border-left: 1px solid rgb(150,128,76)
                    padding: 1em

                    display: flex
                    flex-direction: column
                    align-items: center
                    h4, p
                        color: rgb(85,80,71)
                    h4
                        border-bottom: 1px solid rgb(85,80,71)
                    p
                        font-size: 0.8em
                        text-align: center
                    div
                        background-color: white
                        padding: 0 1em
                        span:nth-child(1)
                            text-decoration: line-through
                            color: rgb(126,126,126)
                        span:nth-child(2)
                            color: red
                            font-size: 1.3em
.headerCarousel
    padding: 0
    .orbit-bullets
        margin-top: -3em
        display: flex
        justify-content: center
        button
            background-color: white
            border: 1px solid #393a3b
            border-radius: 50%

        .is-active
            //background-color: red
            border:
                width: 5px
                style: solid
                color: red grey grey grey
            animation: move 5.5s linear infinite
            @keyframes move
                0%
                    transform: rotate(0deg)
                100%
                    transform: rotate(360deg)

        //button:not(.is-active)
        //    margin-top: 1px
    .orbit-figure
        height: 400px
        background-size: cover
    //.orbit-figure
    //    &.img1
    //        background-image: url("../../img/headerCarouselImage1.png")
    //    &.img2
    //        background-image: url("../../img/headerCarouselImage2.png")
    .headerSliderContainer
        display: flex
        flex-direction: column
        justify-content: center
        padding-left: 50%
        height: 400px
        color: white
        & > span
            color: rgb(170, 170, 170)