@import "variables"

@mixin arwTransform($prop)
  transform: rotate($prop)
  -webkit-transform: rotate($prop)

@mixin upper-navigation-tablet-up
  @media (min-width: $screen-resolution-tablet)
    flex-direction: row
    text-align: center
    padding: 1em