mixin sign-in
    img.avatar
    button.authorization-button Вход
    .sign-in-form-container
        .sign-in.form
            .sign-in__header
                span
                h1 Log in
                span.sign-in__close-form ×
            .sign-in__content
                form(action='' id="loginForm")
                    .container
                        p Please fill in this form to create an account.
                        hr
                        label(for='login-email')
                            b Email
                        input(type='text', placeholder='Enter Email', name='login-email', class='login-email', required='')
                        label(for='login-password')
                            b Password
                        input(type='password', placeholder='Enter Password', name='login-password', class='login-password', required='')
                        hr.
                        button.submit(type='button' class = "login") Log in
                        br
                        button.submit#google-sign-in(type='submit') Sign in with Google
                        br
                        button.submit#facebook-sign-in(type='submit') Sign in with Facebook

                    .container.signin
                        p
                            | Already have an account?
                            a(href='#' class='switch-to-registration') Registration
                            | .
    .registration-form-container
        .registration.form
            .registration__header
                span
                h1 Registration
                span.registration__close-form ×
            .registration__content
                form(action='' id="registrationForm")
                    .container
                        p Please fill in this form to create an account.
                        hr
                        label(for='registration-email')
                            b Email
                        input(type='text', placeholder='Enter Email', name='registration-email', class='registration-email', required='')
                        label(for='registration-password')
                            b Password
                        input(type='password', placeholder='Enter Password', name='registration-password', class='registration-password', required='')
                        label(for='registration-url')
                            b Image URL
                        input(type='url', placeholder='Paste your url image', name='registration-url', class='registration-url', required='')
                        hr.
                        button.submit(type='button' class = "register") Registration
                    .container.signin
                        p
                            | Create an account?
                            a(href='#' class='switch-to-sign-in') Sign-in
                            | .