mixin contacts
    section
        .contacts-container
            h1.contacts-container__item Contacts
            span.contacts-container__item ∇ another str.
            span.contacts-container__item ✆ +123-456-7890
            span.contacts-container__item ✉ sample@gmail.com
            h1.contacts-container__item Hours
            span.contacts-container__item Mon - Thu, Sun 11:00 AM - 11:00 PM
            span.contacts-container__item Fri - Sat 11:00 AM - 12:00 AM