mixin popup(buttonName, formTitle, otherHTML)
    button.authorization-button= buttonName
        .sign-in-form-container
            .sign-in.form
                .sign-in__header
                    span
                    h1= formTitle
                    span.sign-in__close-form ×
