extends ../../page-templates/base.pug
include brands/brands
include sellout/sellout
include services/services
include articles/articles
include responsive-img/responsive-img

block content
    +brands
    +sellout
    +services
    +articles
    // +responsive-img