extends ../../page-templates/base.pug
include brands/brands
include sellout/sellout
include responsive-img/responsive-img

block content
    +brands
    +sellout
    +responsive-img
    //div
    //  img(class="lzy_img" src="http://images2.fanpop.com/images/photos/7800000/Nature-Full-HD-Wallpaper-national-geographic-7822418-1920-1080.jpg" data-src="img_1.jpg")
    //  hr
    //div
    //  img(class="lzy_img" src="http://images2.fanpop.com/images/photos/7800000/Nature-Full-HD-Wallpaper-national-geographic-7822418-1920-1080.jpg" data-src="img_1.jpg")
    //  hr
    //div
    //  img(class="lzy_img" src="http://images2.fanpop.com/images/photos/7800000/Nature-Full-HD-Wallpaper-national-geographic-7822418-1920-1080.jpg" data-src="img_1.jpg")
    //  hr
    //div
    //  img(class="lzy_img" src="http://images2.fanpop.com/images/photos/7800000/Nature-Full-HD-Wallpaper-national-geographic-7822418-1920-1080.jpg" data-src="img_1.jpg")
    //  hr

    - var i = 0;
    while i < 10
        - size = 2000 + i;
        // - src = 'https://picsum.photos/' + size
        - data_src = 'https://picsum.photos/'+size
        img.lzy_img(src=src data-src=data_src)
        - i++