@import "./../../variables"
@import "./../../mixins"

body
    background: #000
    margin: 0
    padding: 0

.content-container
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    // align-items: center
    &__item
        width: 100%
        +tablet-portrait
            width: 45%
        +desktop
            width: 23%
