extends ../../page-templates/base.pug
include brands/brands
include sellout/sellout
include services/services
include responsive-img/responsive-img

block content
    +brands
    +sellout
    +services
    // +responsive-img