extends ../../page-templates/base.pug
include headVideo/head-carousel
include bar-menu/bar-menu
include reservation/reservation

block content
    +head-carousel
    .content-container
        .content-container__item
            +bar-menu
        .content-container__item
            +reservation
