doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Music Arsenal
body
    header.header
        .upper-navigation
            .upper-navigation__item
                a.upper-navigation__link(href='#')
                    span.upper-navigation__city Новосибирск
                    | →
                    span.upper-navigation__street ул. Октябрьская, 34
            .upper-navigation__item
                a.upper-navigation__link(href='#')
                    img(src='img/phone-icon.png' alt='Phone')
                    span (383) 240-80-80,
                    span 240-80-00
            .upper-navigation__item
                nav
                    ul.header-navigation
                        li.header-navigation__item
                            a.header-navigation__link(href='#') Как купить
                        li.header-navigation__item
                            a.header-navigation__link(href='#') Гарантия
                        li.header-navigation__item
                            a.header-navigation__link(href='#') Доставка
            .upper-navigation__item
                a.upper-navigation__link(href='#')
                    span.upper-navigation__account Мой арсенал
            .upper-navigation__item
                img.upper-navigation__social-image(src='img/VK-icon.png' alt='VK')
        .shop-bar
            .shop-bar__item
                a.logo(href='#')
                    img(src='img/logo.png' alt='Музыкальный арсенал')
                    span.logo__text Мы работаем на ваш талант!
            .shop-bar__item.shop-bar__item--growed
                .search
                    input.search__input(type='text' placeholder='Поиск товаров')
                    img.search__image(src='img/search-icon.png' alt='search')
            .shop-bar__item.cart
                img(src='img/cart-icon.png' alt='cart')
                span Корзина
                span.cart__items-count 25
        .header-menu
            ul.dropdown.menu.first-level-menu(data-dropdown-menu='')
                li
                    a.first-level-menu__link(href='#') Акции
                li
                    a(href='#') Музыкальные инструменты
                    ul.menu.lvl1
                        li
                            a(href='#') Гитары
                        li
                            a(href='#') Ударные
                            ul.menu.lvl2
                                li
                                    a(href='#') Тарелки
                                li
                                    a(href='#') Тренировочные пэды
                                    ul.menu.lvl3
                                        div
                                            img(src='img/headerMainMenuImage1.png' alt='guitar')
                                            h4 DBZ Halifire
                                            p Электрогитара, в стиле «Юнион Джек». Выпущена ограниченным тиражом.
                                            div
                                                span 89 750
                                                span 83 550 ₽
                                li
                                    a(href='#') Пластики
                                li
                                    a(href='#') Барабанные палочки
                                li
                                    a(href='#') Чехлы, кейсы, сумки
                                li
                                    a(href='#') Аксессуары
                                li
                                    a(href='#') Перкуссия
                        li
                            a(href='#') Клавишные
                        li
                            a(href='#') Духовые
                        li
                            a(href='#') Смычковые
                        li
                            a(href='#') Народные
                li
                    a(href='#') DJ
                li
                    a(href='#') Шоу-техника
                li
                    a(href='#') Студия
                li
                    a(href='#') Звук
                li
                    a(href='#') Свет
                li
                    a(href='#') Коммутация
                li
                    a(href='#') Стойки
        .orbit.headerCarousel(role='region' data-orbit='')
            .orbit-wrapper
                ul.orbit-container
                    li.is-active.orbit-slide
                        figure.orbit-figure.img1
                            .headerSliderContainer
                                span Новинка
                                h2 ARIA MAC-STD
                                p
                                    | Станьте ближе к любимой музыке вместе с P5 Series 2. У последней версии полностью
                                    | обновлена конструкция динамиков, что подняло качество звука на новый уровень, а
                                    | материалы высокого качества обеспечивают комфорт.
                    li.orbit-slide
                        figure.orbit-figure.img2
                            .headerSliderContainer
                                span Новинка
                                h2 ARIA MAC-STD
                                p
                                    | Станьте ближе к любимой музыке вместе с P5 Series 2. У последней версии полностью
                                    | обновлена конструкция динамиков, что подняло качество звука на новый уровень, а
                                    | материалы высокого качества обеспечивают комфорт.
            nav.orbit-bullets
                button.is-active(data-slide='0')
                    span.show-for-sr First slide details.
                    span.show-for-sr Current Slide
                button(data-slide='1')
                    span.show-for-sr Second slide details.
                button(data-slide='2')
                    span.show-for-sr Third slide details.
                button(data-slide='3')
                    span.show-for-sr Fourth slide details.
    section.brands
        .slider-block.brands__slider-block
            #viewport
                ul#slidewrapper.slider-block__wrapper
                    li.slider-block__slide
                        .flex-container
                            .flex-container.flex-container__item
                                .slider-block__image
                                    img(src="img/ABK.png" alt="abk")
                            .flex-container.flex-container__item
                                .slider-block__image
                                    img(src="img/aria.png" alt="aria")
                            .flex-container.flex-container__item
                                .slider-block__image
                                    img(src="img/jts.png" alt="jts")
                            .flex-container.flex-container__item
                                .slider-block__image
                                    img(src="img/pioneer.png" alt="pioneer")
                            .flex-container.flex-container__item
                                .slider-block__image
                                    img(src="img/Robe.png" alt="robe")
                            .flex-container.flex-container__item
                                .slider-block__image
                                    img(src="img/daddario.png" alt="daddario" width="150")
                            .flex-container.flex-container__item
                                .slider-block__image
                                    img(src="img/schecter.png" alt="schecter")
                        li.slider-block__slide
                            .flex-container
                                .flex-container.flex-container__item
                                    .slider-block__image
                                        img(src="img/ABK.png" alt="abk")
                                .flex-container.flex-container__item
                                    .slider-block__image
                                        img(src="img/aria.png" alt="aria")
                                .flex-container.flex-container__item
                                    .slider-block__image
                                        img(src="img/jts.png" alt="jts")
                                .flex-container.flex-container__item
                                    .slider-block__image
                                        img(src="img/pioneer.png" alt="pioneer")
                                .flex-container.flex-container__item
                                    .slider-block__image
                                        img(src="img/Robe.png" alt="robe")
                                .flex-container.flex-container__item
                                    .slider-block__image
                                        img(src="img/daddario.png" alt="daddario" width="150")
                                .flex-container.flex-container__item
                                    .slider-block__image
                                        img(src="img/schecter.png" alt="schecter")
        .brands__control
            #prev-btn.brands__control--left
            #next-btn.brands__control--right

        .lines.brands__lines
             .lines__item
             .lines__text
                 a(href='#' class='lines__link') Все производители
    script(src="js/vendor/jquery.js")
    script(src="js/vendor/what-input.js")
    script(src="js/vendor/foundation.js")
    script(src="js/vendor/slider.js")
