//<!-- Trigger/Open The Modal -->
//button#myBtn Open Modal
//
//<!-- The Modal -->
//div#myModal.modal
//
//<!-- Modal content -->
//   .modal-content
//      span.close &times;
//      p Some text in the Modal..
