include ../../../mixins

mixin brands
    section.brands
        .slider-block.brands__slider-block
            #viewport
                ul#slidewrapper.slider-block__wrapper
                    li.slider-block__slide
                        .flex-container
                            +slider-image("./assets/img/brands/ABK.png","abk")
                            +slider-image("./assets/img/brands/aria.png","aria")
                            +slider-image("./assets/img/brands/jts.png","jts")
                            +slider-image("./assets/img/brands/pioneer.png","pioneer")
                            +slider-image("./assets/img/brands/Robe.png","robe")
                            +slider-image("./assets/img/brands/daddario.png","daddario")
                            +slider-image("./assets/img/brands/schecter.png","schecter")
                    li.slider-block__slide
                        .flex-container
                            +slider-image("./assets/img/brands/ABK.png","abk")
                            +slider-image("./assets/img/brands/aria.png","aria")
                            +slider-image("./assets/img/brands/jts.png","jts")
                            +slider-image("./assets/img/brands/pioneer.png","pioneer")
                            +slider-image("./assets/img/brands/Robe.png","robe")
                            +slider-image("./assets/img/brands/daddario.png","daddario")
                            +slider-image("./assets/img/brands/schecter.png","schecter")

        .brands__control
            #prev-btn.brands__control--left
            #next-btn.brands__control--right

        .lines.brands__lines
            .lines__item
            .lines__text
                a(href='#' class='lines__link') Все производители

            //span.close &times;
            //p Some text in the Modal..
                a(href='#' class='lines__link') Все производители
        .slider__wrapper