mixin cell(img_src, alt, instrum_name, descr)
    .cell
        .image
            img( src=img_src alt=alt)
        .name= instrum_name
        .descr= descr
        .prices
            .price 89 750
            .sell  83 550
                span ла
        .buttons
            .transbcg
                .bckgr
                    button.btn-img
                        img(src="./assets/img/sellout/buy.png" alt="buy")
                    button.btn-img
                        img(src="./assets/img/sellout/diagram.png" alt="diagram")
                    button.btn-img
                        img(src="./assets/img/sellout/heart.png" alt="heart")