@import "../../../mixins"

.sellout
  min-height: 720px
  position: relative
  &__slider-block
    width: 1100px
    //height: 115px
    margin: 0 auto
    z-index: 1
  &__control--left, &__control--right
    position: absolute
    border: solid #808080
    border-width: 0 3px 3px 0
    height: 20px
    min-width: 20px
    display: inline-block
    padding: 3px
    top: 60px
  &__control--left:hover, &__control--right:hover
    cursor: pointer
  &__control--left
    +arrow-transform(135deg)
    left: 110px
    top: 300px
    &:hover
      //background-color: #d3ba7e
      //border-radius: 50px
  &__control--right
    +arrow-transform(-45deg)
    right: 110px
    top: 300px
    &:hover
      //background-color: #d3ba7e
    //border-radius: 50px
  .flex-container
    justify-content: center
  h2
    font-size: 28px
    text-align: center
    margin-top: 30px
    color: #503737

  .buttons
    text-align: center
    margin-top: 24px
    margin-bottom: 20px

  .bckgr
    display: inline-block
    border-radius: 50px
    background-color: #503737

  .btn
    background-color: #503737
    color: white
    padding: 10px 15px
    &:hover
      background-color: #ff2d2d
      border-radius: 50px
  .btn-img:hover
    background-color: #ff2d2d
    border-radius: 50px

  .instrum
    border-radius: 50px 0 0 50px
  .mrkdown
    border-radius: 0 50px 50px 0

  .slider-container
    display: flex
    justify-content: center
    margin-bottom: 28px

  .cell
    max-width: 240px
    width: 100%
    border: 1px solid rgb(214,203,203)
    margin-left: -1px
    .buttons
      display: none
      .transbcg
        width: 180px
        background-color: white
    &:hover
      position: relative
      border: 2px solid #ad9797
    &:hover
      .buttons
        display: block
        position: absolute
        bottom: -40px
        left: 30px

  .image
    height: 350px
    display: flex
    align-items: center

  .name
    font-size: 16px
    text-decoration: underline
    text-align: center
  .descr
    font-size: 12px
    text-align: center
  .prices
    max-width: 125px
    width: 100%
    margin: 14px auto 25px auto
  .price
    color: #777777
    font-size: 14px
    text-decoration: line-through
    float: left
    margin-right: 8px
    text-align: center
  .sell
    font-size: 18px
    color: #e73939
    span
      text-decoration: line-through
  .btn-img
    background-color: #503737
    padding: 10px 10px
    border-radius: 50px
  //.orbit-previous
  //  left: 110px
  //  &hover
  //    background-color: #d3ba7e
  //    border-radius: 50px
  //
  //.orbit-next
  //  right: 110px
  //  &:hover
  //    background-color: #d3ba7e
  //    border-radius: 50px
  &__links
    text-align: center
    margin-bottom: 42px
    a
      color: black
      font-size: 14px
      text-decoration: underline
      margin-right: 25px
#sellout__viewport
  position: relative
  overflow: hidden
  padding-bottom: 50px
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -o-user-select: none
  user-select: none
.slider-block__wrapper
  position: relative
  width: calc(100% * 3)
  top: 0
  left: 0
  margin: 0
  padding: 0
  -webkit-transition: 1s
  -o-transition: 1s
  transition: 1s
  -webkit-transition-timing-function: ease-in-out
  -o-transition-timing-function: ease-in-out
  transition-timing-function: ease-in-out
  & .slider-block__slide
    width: calc(100%/3)
    list-style: none
    float: left
.slider-block__wrapper , .slider-block__slide
  margin: 0
  padding: 0

@media (min-width: 1287px)
  .sm-slider
    display: none

  .md-slider
    display: none

@media (max-width: 1287px) and (min-width: 780px)
  .lg-slider
    display: none

  .md-slider
    display: flex

  .sm-slider
    display: none


@media (max-width: 800px)
  .lg-slider
    display: none

  .md-slider
    display: none

  .sm-slider
    display: flex

  .orbit-previous
    left: 5030px

  .orbit-next
    right: 30px


@media (max-width: 550px)
  .orbit-previous
    left: 0!important

  .orbit-next
    right: 0!important

  .sellout
    .btn
      font-size: 12px
      padding: 5px 10px

  #news_items
    .btn
      font-size: 12px
      padding: 5px 10px

  .sellout
    .links
      a
        font-size: 10px!important

  #news_items
    .links
      a
        font-size: 10px!important

  #stock
    a
      font-size: 10px!important


