include cell
mixin sellout
  section.sellout
    h2 Распродажа инструментов
    .buttons
      .bckgr
        button.btn.instrum Инструменты
        button.btn.light Свет
        button.btn.sound Звук
        button.btn.mrkdown Уценка
    .slider-container
        .lg-slider
            .owl-carousel.sellout__slider-block
                .owl-content
                    .slider-block__slide
                        .flex-container
                            +cell("./assets/img/sellout/accord.png","accordion",'Hohner Bravo III 96 RED',"Аккордеон, в стиле «Юнион Джек». Выпущен ограниченным тиражом.")
                            +cell("./assets/img/sellout/guitar.png","guitar",'DBZ Halilfire',"Электрогитара, в стиле «Юнион Джек». Выпущена ограниченным тиражом.")
                            +cell("./assets/img/sellout/drum.png","drum",'Pearl Sparkle Burst',"Электрогитара, в стиле «Юнион Джек». Выпущена ограниченным тиражом.")
                            +cell("./assets/img/sellout/piano.png","piano",'Yamaha P-105B',"Электрогитара, в стиле «Юнион Джек». Выпущена ограниченным тиражом.")
                .owl-content
                    .slider-block__slide
                        .flex-container
                            +cell("./assets/img/sellout/accord.png","accordion",'Hohner Bravo III 96 RED',"Аккордеон, в стиле «Юнион Джек». Выпущен ограниченным тиражом.")
                            +cell("./assets/img/sellout/guitar.png","guitar",'DBZ Halilfire',"Электрогитара, в стиле «Юнион Джек». Выпущена ограниченным тиражом.")
                            +cell("./assets/img/sellout/drum.png","drum",'Pearl Sparkle Burst',"Электрогитара, в стиле «Юнион Джек». Выпущена ограниченным тиражом.")
                            +cell("./assets/img/sellout/piano.png","piano",'Yamaha P-105B',"Электрогитара, в стиле «Юнион Джек». Выпущена ограниченным тиражом.")
        .md-slider
            .owl-carousel.sellout__slider-block
                .owl-content
                    .slider-block__slide
                        .flex-container
                            +cell("./assets/img/sellout/accord.png","accordion",'Hohner Bravo III 96 RED',"Аккордеон, в стиле «Юнион Джек». Выпущен ограниченным тиражом.")
                            +cell("./assets/img/sellout/guitar.png","guitar",'DBZ Halilfire',"Электрогитара, в стиле «Юнион Джек». Выпущена ограниченным тиражом.")
                .owl-content
                    .slider-block__slide
                        .flex-container
                            +cell("./assets/img/sellout/drum.png","drum",'Pearl Sparkle Burst',"Электрогитара, в стиле «Юнион Джек». Выпущена ограниченным тиражом.")
                            +cell("./assets/img/sellout/piano.png","piano",'Yamaha P-105B',"Электрогитара, в стиле «Юнион Джек». Выпущена ограниченным тиражом.")
        .sm-slider
            .owl-carousel.sellout__slider-block
                .owl-content
                    .slider-block__slide
                        .flex-container
                            +cell("./assets/img/sellout/accord.png","accordion",'Hohner Bravo III 96 RED',"Аккордеон, в стиле «Юнион Джек». Выпущен ограниченным тиражом.")
                .owl-content
                    .slider-block__slide
                        .flex-container
                            +cell("./assets/img/sellout/guitar.png","guitar",'DBZ Halilfire',"Электрогитара, в стиле «Юнион Джек». Выпущена ограниченным тиражом.")
                .owl-content
                    .slider-block__slide
                        .flex-container
                            +cell("./assets/img/sellout/drum.png","drum",'Pearl Sparkle Burst',"Электрогитара, в стиле «Юнион Джек». Выпущена ограниченным тиражом.")
                .owl-content
                    .slider-block__slide
                        .flex-container
                            +cell("./assets/img/sellout/piano.png","piano",'Yamaha P-105B',"Электрогитара, в стиле «Юнион Джек». Выпущена ограниченным тиражом.")
    //.sellout__control
    //  #sellout__prev-btn.sellout__control--left
    //  #sellout__next-btn.sellout__control--right
    .sellout__links
      a(href='#') ВСЕ ПРЕДЛОЖЕНИЯ
      a(href='#') ПОДПИСАТЬСЯ НА РАСПРОДАЖИ