mixin services
    section#services.services
        img.services__head-image(src='assets/img/services-icons/services-head.png', alt='head')
        .services__container
            .services-item
                .services-item__head
                    img(src='assets/img/services-icons/icon1.png', alt='deliveryIMG')
                    h4 Доставка до дверей
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eos exercitationem minus quam
                    | voluptate voluptatibus!
            .services-item
                .services-item__head
                    img(src='assets/img/services-icons/icon4.png', alt='repear')
                    h4 Ремонт и обслуживание
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores deleniti minima rerum sit?

            .services-item
                .services-item__head
                    img(src='assets/img/services-icons/icon2.png', alt='setup')
                    h4 Установка и настройка
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur debitis distinctio facilis
                    | mollitia vel voluptate.
            .services-item
                .services-item__head
                    img(src='assets/img/services-icons/icon5.png', alt='change')
                    h4 Обмен без проблем
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cumque debitis ea eaque, iure
                    | praesentium.

            .services-item
                .services-item__head
                    img(src='assets/img/services-icons/icon3.png', alt='credit')
                    h4 Продажа в кредит
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ducimus explicabo, neque nesciunt
                    | quae voluptate?
            .services-item
                .services-item__head
                    img(src='assets/img/services-icons/icon6.png', alt='gift')
                    h4 Подарочные карты
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit nam neque praesentium quo similique.
                    | Culpa.
