mixin bar-menu
    section.bar-menu-container
        h1.bar-menu-header BAR MENU
        .owl-carousel.bar-menu-carousel
            .item.bar-menu-carousel__item
                img(src="assets/img/bar-menu/page1.png")
            .item.bar-menu-carousel__item
                img(src="assets/img/bar-menu/page2.png")
            .item.bar-menu-carousel__item
                img(src="assets/img/bar-menu/page3.png")
            .item.bar-menu-carousel__item
                img(src="assets/img/bar-menu/page4.png")
            .item.bar-menu-carousel__item
                img(src="assets/img/bar-menu/page5.png")
            .item.bar-menu-carousel__item
                img(src="assets/img/bar-menu/page6.png")
            .item.bar-menu-carousel__item
                img(src="assets/img/bar-menu/page7.png")
            .item.bar-menu-carousel__item
                img(src="assets/img/bar-menu/page8.png")
            .item.bar-menu-carousel__item
                img(src="assets/img/bar-menu/page9.png")
