mixin bar-menu
    section.bar-menu-container
        .owl-carousel.bar-menu-carousel
            .item.bar-menu-carousel__item
                img(src="assets/img/bar-menu/page1.jpg")
            .item.bar-menu-carousel__item
                img(src="assets/img/bar-menu/page2.jpg")
            .item.bar-menu-carousel__item
                img(src="assets/img/bar-menu/page3.jpg")
            .item.bar-menu-carousel__item
                img(src="assets/img/bar-menu/page4.jpg")
