@import "./../../variables"
@import "./../../mixins"

.burger
    display: block
    list-style-type: none
    background: #000
    ul
        text-align: center
    li
        display: inline-block
        width: 15%
        list-style: none
        background: #000
        color: #fff
        a
            display: block
            padding: 15px
            text-decoration: none
            color: #fff
            transition: 0.8s
            &:hover
                background: #4183c4
                color: #fff
    label
        display: none

#menu-toggle
    display: none

@media all and (max-width: 700px) and (min-width: 0px)
    .burger
        label
            display: block
            height: 70px
            width: 70px
            line-height: 70px
            text-align: center
            color: #fff
            font-size: 1.8rem
            background: #000
            cursor: pointer
        .nav
            display: none
        li
            width: 100%
    #menu-toggle:checked + .nav
        display: block
    .burger label:active .nav
        display: none

