mixin header
    header.header
        .burger
            label(for='menu-toggle')  ☰
            input#menu-toggle(type='checkbox')
            ul.nav
                li
                    a(href='#') NAV
                li
                    a(href='#') PHP
                li
                    a(href='#') HTML
                li
                    a(href='#') CSS
                li
                    a(href='#') MYSQL
                li
                    a(href='#') SSL