mixin brands
    section.brands
        .slider-block.brands__slider-block
            #viewport
                ul#slidewrapper.slider-block__wrapper
                    li.slider-block__slide
                        .flex-container
                            .flex-container.flex-container__item
                                .slider-block__image
                                    img(src="img/ABK.png" alt="abk")
                            .flex-container.flex-container__item
                                .slider-block__image
                                    img(src="img/aria.png" alt="aria")
                            .flex-container.flex-container__item
                                .slider-block__image
                                    img(src="img/jts.png" alt="jts")
                            .flex-container.flex-container__item
                                .slider-block__image
                                    img(src="img/pioneer.png" alt="pioneer")
                            .flex-container.flex-container__item
                                .slider-block__image
                                    img(src="img/Robe.png" alt="robe")
                            .flex-container.flex-container__item
                                .slider-block__image
                                    img(src="img/daddario.png" alt="daddario" width="150")
                            .flex-container.flex-container__item
                                .slider-block__image
                                    img(src="img/schecter.png" alt="schecter")
                        li.slider-block__slide
                            .flex-container
                                .flex-container.flex-container__item
                                    .slider-block__image
                                        img(src="img/ABK.png" alt="abk")
                                .flex-container.flex-container__item
                                    .slider-block__image
                                        img(src="img/aria.png" alt="aria")
                                .flex-container.flex-container__item
                                    .slider-block__image
                                        img(src="img/jts.png" alt="jts")
                                .flex-container.flex-container__item
                                    .slider-block__image
                                        img(src="img/pioneer.png" alt="pioneer")
                                .flex-container.flex-container__item
                                    .slider-block__image
                                        img(src="img/Robe.png" alt="robe")
                                .flex-container.flex-container__item
                                    .slider-block__image
                                        img(src="img/daddario.png" alt="daddario" width="150")
                                .flex-container.flex-container__item
                                    .slider-block__image
                                        img(src="img/schecter.png" alt="schecter")
        .brands__control
            #prev-btn.brands__control--left
            #next-btn.brands__control--right

        .lines.brands__lines
            .lines__item
            .lines__text
                a(href='#' class='lines__link') Все производители