mixin photo-gallery
    section
        h1 PHOTO GALLERY
        .owl-carousel.photo-gallery-carousel
            .item
                img(data-src="assets/img/photo-gallery/about1.jpg")
            .item
                img(data-src="assets/img/photo-gallery/about2.jpg")
            .item
                img(data-src="assets/img/photo-gallery/about3.jpg")
            .item
                img(data-src="assets/img/photo-gallery/about4.jpg")
            .item
                img(data-src="assets/img/photo-gallery/about5.jpg")
            .item
                img(data-src="assets/img/photo-gallery/about6.jpg")
            .item
                img(data-src="assets/img/photo-gallery/about7.jpg")
            .item
                img(data-src="assets/img/photo-gallery/about8.jpg")
            .item
                img(data-src="assets/img/photo-gallery/about9.jpg")
            .item
                img(data-src="assets/img/photo-gallery/about10.jpg")
            .item
                img(data-src="assets/img/photo-gallery/about11.jpg")
