@import "../../variables"
@import "../../mixins"

.footer
    display: flex
    flex-direction: column

    text-align: center
    background-color: #5d5555
    color: white
    +tablet-landscape
        padding-top: 3em
        padding-bottom: 5em
        flex-direction: row
        text-align: start

    &__item
        display: flex
        flex-direction: row
        flex-grow: 1
        justify-content: center
        padding: 1em 0
        border-bottom: 1px solid white
        +tablet-landscape
            border: none
    span
        padding: 0.5em 0
.created
    justify-content: space-between
    &__item
        display: flex
        flex-direction: column

.links
    display: flex
    flex-direction: column
    flex-grow: 2
    justify-content: space-between
    +tablet-portrait
        flex-direction: row
        justify-content: space-around
    &__item
        display: flex
        flex-direction: column

footer a,
footer a:hover,
footer a:visited
    color: white
    text-decoration: underline
    padding: 0.5em 0
.place-info
    display: flex
    flex-direction: column
.social
    display: flex
    justify-content: center
    & > img
        margin-right: 1em