mixin footer
    footer.footer
        .footer__item
            .created
                .created__item
                    h5 © 2014 Музыкальный арсенал
                    a(href='#') Правила использования сайта
                .created__item
                    span
                        a(href='#') Разработка сайта
                        |  - github.com/JuliaKH/arsenal
                    span
                        a(href='#') Дизайн сайта
                        |  - yuriev.pro
        .footer__item
            .contacts
                .place-info
                    h5 Магазин в Новосибирске
                    span
                        img(src='assets/img/footer-icons/place.png', alt='icon')
                        |                 ул. Октябрьская, 34
                    span
                        img(src='assets/img/footer-icons/phone.png', alt='icon')
                        |                 (383) 240-80-80, 240-80-80
                    span
                        img(src='assets/img/footer-icons/time.png', alt='icon')
                        |                 Сегодня с 10:00 до 19:00
                .social
                    img(src='assets/img/footer-icons/vk.png', alt='vk')
                    img(src='assets/img/footer-icons/fb.png', alt='fb')
                    img(src='assets/img/footer-icons/avito.png', alt='avito')
        .footer__item
            .links
                .links__item
                    a(href='#') О компании
                    a(href='#') Наша история
                    a(href='#') Благодарности
                    a(href='#') Партнерам
                    a(href='#') Магазины
                    a(href='#') Контакты
                .links__item
                    a(href='#') Эндорсеры
                    a(href='#') Коллектив
                    a(href='#') Вакансии
                    a(href='#') Новости
                    a(href='#') Обзоры
                .links__item
                    a(href='#') Акции
                    a(href='#') Распродажи
                    a(href='#') Товары
                    a(href='#') Услуги
                    a(href='#') Производители
