mixin footer
    footer
        .footer-container
            .footer-container__item
                .contacts-container
                    h1.contacts-container__item.contacts-container__header Hours
                    span.contacts-container__item Mon - Thu, Sun 11:00 AM - 11:00 PM
                    span.contacts-container__item Fri - Sat 11:00 AM - 12:00 AM
            .footer-container__item
                .contacts-container
                    h1.contacts-container__item.contacts-container__header Contacts
                    span.contacts-container__item ∇ another str.
                    span.contacts-container__item ✆ +123-456-7890
                    span.contacts-container__item ✉ sample@gmail.com
            .footer-container__item
                h1.contacts-container__header Navigation
                ul.footer-navigation-container
                    li.footer-navigation-container__item
                        a.footer-navigation-container__link(href='#') MENU
                    li.footer-navigation-container__item
                        a.footer-navigation-container__link(href='#') GALLERY
                    li.footer-navigation-container__item
                        a.footer-navigation-container__link(href='#') BOOKING
                    li.footer-navigation-container__item
                        a.footer-navigation-container__link(href='#') CONTACTS
                    li.footer-navigation-container__item
                        a.footer-navigation-container__link(href='#') KARAOKE
        p.copyright Copyright © 2019 Hakarocu. All Rights Reserved