    <!-- Trigger/Open The Modal -->
mixin sign-in
    button#myBtn Sign-in

    <!-- The Modal -->
    div#myModal.modal
        .modal-content
            span.close ×
            form(action='/action_page.php')
                .container
                    h1.heading Log in
                    p Please fill in this form to create an account.
                    hr
                    label(for='email')
                        b Email
                    input(type='text', placeholder='Enter Email', name='email', required='')
                    label(for='psw')
                        b Password
                    input(type='password', placeholder='Enter Password', name='psw', required='')
                    .url
                        label(for='url')
                            b Image url
                        input(type='url', placeholder='Image url', name='url', required='')
                    hr.
                    button.submit(type='submit') Log in
                .container.signin
                    p
                        | Already have an account?
                        a(href='#' class='registration') Registration
                        | .

            //span.close &times;
            //p Some text in the Modal..