mixin articles
    section#articles.articles
        .articles__section
            h2.articles__head Новости
            .articles-item
                img.articles-item__image(src='assets/img/articles/img1.png', alt='news-image1')
                .articles-item__content-container
                    h5.articles-item__head Мастер-класс Данила Прокопьева в Краснодаре
                    p.articles-item__text Мастер-класс состоится 18 октября 2014 года в 15.30 в музыкальном центре SOROKA.
                    p.articles-item__date 18 июня 2014г.
            .articles-item
                img.articles-item__image(src='assets/img/articles/img2.png', alt='news-image2')
                .articles-item__content-container
                    h5.articles-item__head Ирина Стачинская – официальный артист Powell
                    p.articles-item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium error ipsum numquam quaerat reprehenderit ullam.
                    p.articles-item__date 18 июня 2014г.
            .news-links
                a.news-links__item(href='#') ВСЕ НОВОСТИ
                a.news-links__item(href='#') ПОДПИСАТЬСЯ
        .articles__section
            h2.articles__head Обзоры
            .articles-item
                img.articles-item__image(src='assets/img/articles/img3.png', alt='news-image3')
                .articles-item__content-container
                    h5.articles-item__head Новые модели гитар Fina!
                    p.articles-item__text Мастер-класс состоится 18 октября 2014 года в 15.30 в музыкальном центре SOROKA.
                    p.articles-item__date 18 июня 2014г.
            .articles-item
                img.articles-item__image(src='assets/img/articles/img4.png', alt='news-image4')
                .articles-item__content-container
                    h5.articles-item__head Гитары Spread Music в Музыкальном Арсенале
                    p.articles-item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium error ipsum numquam quaerat reprehenderit ullam.
                    p.articles-item__date 18 июня 2014г.
            .news-links
                a.news-links__item(href='#') ВСЕ ОБЗОРЫ
                a.news-links__item(href='#') ПОДПИСАТЬСЯ
