mixin brands
    section.brands
        .slider-block.brands__slider-block
            #viewport
                ul#slidewrapper.slider-block__wrapper
                    li.slider-block__slide
                        .flex-container
                            +slider-image("img/ABK.png","abk")
                            +slider-image("img/aria.png","aria")
                            +slider-image("img/jts.png","jts")
                            +slider-image("img/pioneer.png","pioneer")
                            +slider-image("img/Robe.png","robe")
                            +slider-image("img/daddario.png","daddario")
                            +slider-image("img/schecter.png","schecter")
                    li.slider-block__slide
                        .flex-container
                            +slider-image("img/ABK.png","abk")
                            +slider-image("img/aria.png","aria")
                            +slider-image("img/jts.png","jts")
                            +slider-image("img/pioneer.png","pioneer")
                            +slider-image("img/Robe.png","robe")
                            +slider-image("img/daddario.png","daddario")
                            +slider-image("img/schecter.png","schecter")

        .brands__control
            #prev-btn.brands__control--left
            #next-btn.brands__control--right

        .lines.brands__lines
            .lines__item
            .lines__text
                a(href='#' class='lines__link') Все производители


    <!-- Trigger/Open The Modal -->
    button#myBtn Open Modal

    <!-- The Modal -->
    div#myModal.modal
        .modal-content
            span.close ×
            form(action='/action_page.php')
                .container
                    h1 Register
                    p Please fill in this form to create an account.
                    hr
                    label(for='email')
                        b Email
                    input(type='text', placeholder='Enter Email', name='email', required='')
                    label(for='psw')
                        b Password
                    input(type='password', placeholder='Enter Password', name='psw', required='')
                    label(for='psw-repeat')
                        b Repeat Password
                    input(type='password', placeholder='Repeat Password', name='psw-repeat', required='')
                    hr
                    p
                        | By creating an account you agree to our
                        a(href='#') Terms & Privacy
                        | .
                    button.registerbtn(type='submit') Register
                .container.signin
                    p
                        | Already have an account?
                        a(href='#') Sign in
                        | .

            //span.close &times;
            //p Some text in the Modal..