mixin brands
    section.brands
        .slider-block.brands__slider-block
            #viewport
                ul#slidewrapper.slider-block__wrapper
                    li.slider-block__slide
                        .flex-container
                            +slider-image("img/ABK.png","abk")
                            +slider-image("img/aria.png","aria")
                            +slider-image("img/jts.png","jts")
                            +slider-image("img/pioneer.png","pioneer")
                            +slider-image("img/Robe.png","robe")
                            +slider-image("img/daddario.png","daddario")
                            +slider-image("img/schecter.png","schecter")
                    li.slider-block__slide
                        .flex-container
                            +slider-image("img/ABK.png","abk")
                            +slider-image("img/aria.png","aria")
                            +slider-image("img/jts.png","jts")
                            +slider-image("img/pioneer.png","pioneer")
                            +slider-image("img/Robe.png","robe")
                            +slider-image("img/daddario.png","daddario")
                            +slider-image("img/schecter.png","schecter")

        .brands__control
            #prev-btn.brands__control--left
            #next-btn.brands__control--right

        .lines.brands__lines
            .lines__item
            .lines__text
                a(href='#' class='lines__link') Все производители


    <!-- Trigger/Open The Modal -->
    button#myBtn Open Modal

    <!-- The Modal -->
    div#myModal.modal
        .modal-content
            span.close ×
            form(action='/action_page.php')
                .container
                    h1.heading Log in
                    p Please fill in this form to create an account.
                    hr
                    label(for='email')
                        b Email
                    input(type='text', placeholder='Enter Email', name='email', required='')
                    label(for='psw')
                        b Password
                    input(type='password', placeholder='Enter Password', name='psw', required='')
                    .url
                       label(for='url')
                          b Image url
                       input(type='url', placeholder='Image url', name='url', required='')
                    hr.
                    button.submit(type='submit') Log in
                .container.signin
                    p
                        | Already have an account?
                        a(href='#' class='registration') Registration
                        | .

            //span.close &times;
            //p Some text in the Modal..