mixin brands
    section.brands
        .slider-block.brands__slider-block
            #viewport
                ul#slidewrapper.slider-block__wrapper
                    li.slider-block__slide
                        .flex-container
                            +slider-image("img/ABK.png","abk")
                            +slider-image("img/aria.png","aria")
                            +slider-image("img/jts.png","jts")
                            +slider-image("img/pioneer.png","pioneer")
                            +slider-image("img/Robe.png","robe")
                            +slider-image("img/daddario.png","daddario")
                            +slider-image("img/schecter.png","schecter")
                    li.slider-block__slide
                        .flex-container
                            +slider-image("img/ABK.png","abk")
                            +slider-image("img/aria.png","aria")
                            +slider-image("img/jts.png","jts")
                            +slider-image("img/pioneer.png","pioneer")
                            +slider-image("img/Robe.png","robe")
                            +slider-image("img/daddario.png","daddario")
                            +slider-image("img/schecter.png","schecter")

        .brands__control
            #prev-btn.brands__control--left
            #next-btn.brands__control--right

        .lines.brands__lines
            .lines__item
            .lines__text
                a(href='#' class='lines__link') Все производители




            //span.close &times;
            //p Some text in the Modal..
                a(href='#' class='lines__link') Все производители
