mixin responsive-img
    - var i = 0;
        while i < 100
            - size = 2000 + i;
            - src = 'https://www.macmillandictionary.com/external/slideshow/thumb/Grey_thumb.png'
            - data_src = 'https://picsum.photos/'+size
            img.lzy_img(src=src data-src=data_src)
            - i++