//include ../src.temp/views/mixins
include components/page-templates/header/header
include components/page-templates/footer/footer

include components/pages/main/main
//
//include ../src.temp/views/pages/index/brands/brands


doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Music Arsenal
body
    +header
    +main
    +footer
    // The core Firebase JS SDK is always required and must be listed first
    // script(src='/__/firebase/6.2.4/firebase-app.js')
    //
      TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#reserved-urls
    // Initialize Firebase
    // script(src='/__/firebase/init.js')
    // script(src='../../firebase-config.js')
